#cards{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    margin-top: 4%;
}
#pr{
    display: flex;
    margin-left: 69%;
}
span{
    font-size: 12px;
    font-weight: bold;
}
.img{
    border: 1px solid rgb(204, 202, 202);
    width: 8%;
    margin-top: 60px;
}
form>input{
    border: none;
    border-bottom: 1px solid rgb(196, 193, 193);
    width: 25%;
    height: 25px;
    font-size: 10px;
    font-weight: bold;
    margin-right: 30px;
    margin-top: 40px;
}

@media only screen and (min-width:375px) and (max-width:768px){
 
    #cards{
        margin-top: 490px;
    }
    #pr{
        margin-left: 50%;
    }
}

@media only screen and (min-width:0px) and (max-width:390px){
    #cards{
        margin-top: 245px;
        border-top: 2px solid black;
    }
    #pr{
        margin-left: 15%;
    }
    #bottom>img{
        width: 90px;
    }
    form>input{
        width: 35%;
        font-size: 12px;
    }
}