/* p {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Poppins", sans-serif;
  background-color: white;
} */

#header {
  position: sticky;
  top: 0;
}
.hamburger {
  margin: 10px;
  top: 15px;
  left: 0px;
  height: 45px;
  width: 45px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}

.hamburger.click {
  left: 260px;
}

.hamburger span {
  color: black;
  font-size: 25px;
  line-height: 45px;
}

.hamburger.click span:before {
  content: "\f00d";
}

.logo img {
  padding: 2px 0px 0px;
  display: inline;
  margin-left: 6%;
  /* top: 26px; */

  margin-top: -75px;
}

.sidebar {
  top: 0;
  z-index: 100;
  transition: all 0.5s ease;
  margin-top: 108px;
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s ease;
  overflow: scroll;
}

.sidebar.show {
  left: 0px;
  visibility: visible;
  opacity: 0.8;
}

.sidebar .text {
  color: black;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}

nav ul {
  height: 100%;
  width: 100%;
  list-style: none;
}

a,
#womenJacks,
#womenAcc,
#menShirts,
#menShoes,
#athleticz {
  color: #000000;
  user-select: none;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Neue-Helvetica, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 26px;
  font-stretch: semi-condensed;
  cursor: pointer;
}

nav ul li {
  line-height: 20px;
}

nav ul li a,
#womenJacks,
#womenAcc,
#menShirts,
#menShoes,
#athleticz {
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 14px;
  padding-left: 40px;
  display: block;
  width: 100%;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul ul ul {
  display: block;
}

nav ul .womensec1.show {
  display: block;
}

nav ul .mensec1.show1 {
  display: block;
}

nav ul ul li {
  line-height: 42px;
}

nav ul ul li a,
#womenJacks,
#womenAcc,
#menShirts,
#menShoes,
#athleticz {
  font-size: 15px;
  color: black;
  background-color: gold;

  padding-left: 70px;
}
.rightoptions {
  display: flex;
  justify-content: end;
  margin-right: 32px;
  /* margin-top: -100px; */
  margin-top: -130px;
  overflow: hidden;
}

.rightoptions p {
  margin-left: 30px;
}
#search-input {
  font-size: 1.5em;
  /* text-decoration: 3px underline; */
  margin-right: 50px;
  /* padding-bottom: 10px; */
  padding-right: 30px;
  border-bottom: 1px solid black;
}

* {
  box-sizing: border-box;
}
.mySlides {
  display: none;
}
#slideImg {
  vertical-align: middle;
  justify-content: center;
  height: 55%;
  width: 70%;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  /* position: relative; */
  margin-top: 5%;
  height: 30%;
  width: 45%;
  margin-left: 35%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 52%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Caption text */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

@media only screen and (max-width: 1200px) {
  #bookVdo {
    transform: rotateZ(90deg);
    width: 750px;
    height: 700px;
  }
  .slideshow-container {
    width: 80%;
    /* position: relative; */
    margin-top: 10%;
    font-size: 20px;
    height: 700px;
    margin-left: 25%;
    margin-bottom: 15%;
  }
  .rightoptions p,
  #search-input {
    font-size: 20px;
  }
  #footer a {
    font-size: 13px;
  }

  nav ul li a,
  #womenJacks,
  #womenAcc,
  #menShirts,
  #menShoes,
  #athleticz {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 40px;
    line-height: 1.5em;
    padding-left: 79px;
    display: block;
    width: 100%;
  }

  nav ul ul li a, #womenJacks, #womenAcc, #menShirts, #menShoes, #athleticz {
    font-size: 35px;
    color: black;
    background-color: gold;
    padding-left: 70px;
    line-height: 1.5em;
}
}
#sale {
  margin-top: -20%;
  margin-left: 18%;
  color: #f4e623;
  font-size: 70px;
  font-weight: bold;
  font-family: Neue-Helvetica, Helvetica, Arial, sans-serif;
}
#saleTag {
  margin-left: 22%;
}
#bookVdo {
  margin-left: 9%;
  margin-top: 100px;
  /* transform: rotateZ(90deg); */
  justify-content: space-between;
}
#audio-control {
  cursor: pointer;
  /* padding: 1px 5px; */
  background: #000;
  color: #fff;
  border-radius: 100px;
  display: flex;
  margin-left: 4%;
  margin-top: -70px;
  width: 25px;
  height: 25px;
  /* align-items: center; */
  justify-content: center;
}
#smallText {
  margin-left: 12.8%;
  font-size: 8px;
  margin-top: -7px;
}
