* {
  margin: 0;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: "Karla", sans-serif;
  padding: 0;
}
header {
  display: flex;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1;
}

/* top left side hamburger section  */
#hambuger {
  width: 25%;

  /* border: 1px solid red; */
}
#hamburgerIcon {
  width: 15%;
  padding-top: 1.2em;
  padding-left: 1.5em;
  cursor: pointer;
}

/* right side logo head   */
#logohead {
  /* border: 1px solid blue; */
  display: flex;
  padding-top: 0.8em;
}

#logohead>a{
    width:17.5%;
    
}
#zara_logo {
  width: 100%;
  height: 100%;
  cursor: pointer;

  /* border: 1px solid red; */
}
a{
    text-decoration: none;
    color: black;
}

ul {
  /* border: 2px solid green; */
  display: flex;
  list-style: none;
  position: absolute;
  right: 0;
  gap: 3.2em;
  padding-right: 4em;
  padding-top: 1em;
  font-size: 0.6em;
  font-weight: bolder;
}
li {
  cursor: pointer;
}



/* main container   */
#main {
  width: 92.5%;
  /* border: 1px solid red; */
  margin-left: 7.5%;
}


/* search baar  */
#searchbar {
  margin-top: 1.6em;
  width: 98%;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  padding: 0.2em 0em;
  font-size: 1.9em;
  font-weight: bold;
}
#searchbar::placeholder {
  color: black;
}

/* below search baar tranding products  */
#trending_product {
  /* border: 1px solid red; */
  margin-top: 5em;
  /* line-height: 3.5em; */
  font-size: 0.68em;
  font-weight: bold;
}
#trending_product > :first-child {
  color: black;
  cursor: text;
  /* border: 1px solid red; */
  font-size: 1.5em;
}

#trending_product > p {
  cursor: pointer;
  color: #757575;
  margin-bottom: 2.1em;
}



.grid{
  display: grid;
}
.none{
  display: none;
}
#shirt-products {
  /* display: grid; */
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 0px 20px;
}
#shirt-products > div {
  margin-bottom: 2.8em;
}
#shirt-products > div > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
}
#shirt-products > div > div >:nth-child(1):hover{
    text-decoration: underline;
    cursor: pointer;
}

#shirt-products > div > img {
  width: 100%;
}

/* shoes product   */
#shoes-products{
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 0px 20px;
}
#shoes-products > div {
  margin-bottom: 2.8em;
}
#shoes-products > div > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
}
#shoes-products > div > div >:nth-child(1):hover{
    text-decoration: underline;
    cursor: pointer;
}

#shoes-products > div > img {
  width: 100%;
}

/* womenAccessories-products */

#womenAccessories-products{
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 0px 20px;
}
#womenAccessories-products > div {
  margin-bottom: 2.8em;
}
#womenAccessories-products > div > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
}
#womenAccessories-products > div > div >:nth-child(1):hover{
    text-decoration: underline;
    cursor: pointer;
}

#womenAccessories-products > div > img {
  width: 100%;
}

/* women-jacket  */
#women-jacket {
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 0px 20px;
}
#women-jacket  > div {
  margin-bottom: 2.8em;
}
#women-jacket  > div > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
}
#women-jacket  > div > div >:nth-child(1):hover{
    text-decoration: underline;
    cursor: pointer;
}

#women-jacket > div > img {
  width: 100%;
}

/* footer section   */
#about {
  display: flex;
  width: 92.5%;
  border-bottom: 1px solid rgb(212, 211, 211);
  padding-top: 50%;
  padding-bottom: 10%;
  /* border: 2px solid red; */

  /* margin-bottom: 50px; */
}
#about > :nth-child(3) {
  margin-left: 2.3em;
}
#about > :nth-child(4) {
  margin-left: 2.3em;
}
.about_info {
  margin-right: 1em;
}
.about_info > h4 {
  font-size: 1em;
  margin-bottom: 0.7em;
}
.about_info > p {
  cursor: pointer;
  font-size: 0.65em;
  font-weight: bold;
  margin-bottom: 0.4em;
}
.about_info > p:hover {
  text-decoration: underline;
}


#footer_section {
  /* border: 2px solid red; */
  margin-left: 7.5%;
}
footer {
  display: flex;
  justify-content: space-between;
  padding-top: 5.5em;
  padding-bottom: 8em;
  width: 92%;
  /* border: 2px solid red; */
}

#footer_left_box {
  /* border: 1px solid red; */
  font-size: 0.65em;
  font-weight: bold;
  width: 50%;
}
#footer_left_box > :nth-child(2) {
  margin-top: 15em;
}
#footer_right_box {
  /* border: 1px solid red; */
  font-size: 0.65em;
  font-weight: bold;
  width: 30%;
  text-align: right;
}
#footer_right_box > :nth-child(2) {
  margin-top: 2.2em;
  color: grey;
}

#searchProd {
  /* display: grid; */
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 0px 20px;
}
#searchProd > div {
  margin-bottom: 2.8em;
}
#searchProd > div > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
}
#searchProd > div > div >:nth-child(1):hover{
    text-decoration: underline;
    cursor: pointer;
}

#searchProd > div > img {
  width: 100%;
}




/* media queries ---------------------------- */
@media screen and (min-width: 360px) and (max-width: 741px) {
  /* #ul,
  .none {
    display: none;
  } */
  .log-help{
    display: none;
  }

  #hambuger {
    width: 10%;

    /* border: 1px solid red; */
  }
  #hamburgerIcon {
    width: 50%;
    padding-left: 10px;
    padding-top: 1em;
    cursor: pointer;
  }
  #logohead {
    width: 90%;
    /* border: 1px solid blue; */
    display: flex;
    padding-top: 0.8em;
  }

  #logohead>a{
    width: 35%;

  }
  #zara_logo {
    width: 100%;
    height: 75px;
    cursor: pointer;

    /* border: 1px solid red; */
  }
  #main {
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
  }
  #searchbar {
    margin-top: 1.6em;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 0.2em 0em;
    font-size: 1.9em;
    font-weight: bold;
    /* border: 1px solid red; */
  }
  .grid{
    display: grid;
  }
  .none{
    display: none;
  }
  #shirt-products {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0px 20px;
  }
  #shoes-products{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0px 20px;
  }
  #womenAccessories-products{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0px 20px;
  }
  #women-jacket {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0px 20px;
  }
  #about {
    display: flex;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid rgb(212, 211, 211);
    padding-top: 50%;
    padding-bottom: 10%;

}
.about_info {
      display: none;
    margin-right: 1em;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-between;
    padding-top: 5.5em;
    padding-bottom: 8em;
    width:100%;
    /* border: 2px solid red; */
    text-align: center;
  }
  #footer_section {
    /* border: 2px solid red; */
    margin-left: 0%;
  }
  #footer_left_box {
    /* border: 1px solid red; */
    font-size: 0.65em;
    font-weight: bold;
    width: 100%;
  }
  #footer_right_box {
    /* border: 1px solid red; */
    font-size: 0.65em;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  
}

@media screen and (min-width: 0px) and (max-width: 360px) {
    /* #ul,
    .none {
      display: none;
    } */
    .log-help{
      display: none;
    }
    #hambuger {
      width: 10%;
  
      /* border: 1px solid red; */
    }
    #hamburgerIcon {
      width: 50%;
      padding-left: 10px;
      padding-top: 1em;
      cursor: pointer;
    }
    #logohead {
      width: 90%;
      /* border: 1px solid blue; */
      display: flex;
      padding-top: 0.8em;
    }

    #logohead>a{
      width: 40%;

    }
    #zara_logo {
      width: 100%;
      height: 70px;
      cursor: pointer;
  
      /* border: 1px solid red; */
    }
    #main {
      width: 90%;
      margin: auto;
      /* border: 1px solid red; */
    }
    #searchbar {
      margin-top: 1.6em;
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 2px solid black;
      padding: 0.2em 0em;
      font-size: 1.9em;
      font-weight: bold;
      /* border: 1px solid red; */
    }
    .grid{
      display: grid;
    }
    .none{
      display: none;
    }
    #shirt-products {
      /* display: grid; */
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      padding: 0px 20px;
    }
    #shoes-products{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      padding: 0px 20px;
    }
    #womenAccessories-products{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      padding: 0px 20px;
    }
    #women-jacket {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      padding: 0px 20px;
    }
    #about {
      display: flex;
      width: 90%;
      margin: auto;
      border-bottom: 1px solid rgb(212, 211, 211);
      padding-top: 50%;
      padding-bottom: 10%;
  
  }
  .about_info {
        display: none;
      margin-right: 1em;
    }
    footer {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-content: space-between;
      padding-top: 5.5em;
      padding-bottom: 8em;
      width:100%;
      /* border: 2px solid red; */
      text-align: center;
    }
    #footer_section {
      /* border: 2px solid red; */
      margin-left: 0%;
    }
    #footer_left_box {
      /* border: 1px solid red; */
      font-size: 0.65em;
      font-weight: bold;
      width: 100%;
    }
    #footer_right_box {
      /* border: 1px solid red; */
      font-size: 0.65em;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
   
  }
  
